mat-form-field {
  margin-right: 12px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.Image{
  width: 50vh;
  height: 30vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#Input-btn{
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.button2 button{
  margin-right:100px;
}
.example-margin{
  margin-left: 7px;
  margin-right: 7px;
}
.hidden{
  display: none;
}