<div class="add-employee-container container m-0 screenMaxWidth">
  <div class="row">
    <h3 class="mt-4"> Edit Employee {{editDataArray.etedFirstName}}</h3>
    <mat-vertical-stepper>
      <form [formGroup]="personalDetailsForm">
        <mat-step label="Personal Details">
          <div class="container">
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Employee ID</mat-label>
              <input name="etedEmployeeId" formControlName="etedEmployeeId" readonly type="number" matInput
                placeholder="Employee ID">
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label for="etedFirstName">First Name</mat-label>
              <input formControlName="etedFirstName" id="etedFirstName" name="etedFirstName" matInput
                placeholder="First Name">
              <mat-error *ngIf="personalDetailsForm.controls['etedFirstName'].errors?.['required'] ">
                First Name is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class=" col-lg-5 col-md-5 input">
              <mat-label>Last Name</mat-label>
              <input formControlName="etedLastName" name="etedLastName" matInput placeholder="Last Name">
              <mat-error *ngIf="personalDetailsForm.controls['etedLastName'].errors?.['required'] ">
                Last Name is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5input">
              <mat-label>Phone Number</mat-label>
              <input formControlName="etedContactNumber" (keypress)="onlyNumbersAllowed($event)" maxlength="11"
                name="etedContactNumber" matInput placeholder="Phone Number">
              <mat-error *ngIf="personalDetailsForm.controls['etedContactNumber'].errors?.['required'] ">
                Phone Number is <strong>required</strong></mat-error>
              <mat-error *ngIf="personalDetailsForm.controls['etedContactNumber'].errors?.['minlength'] ">
                Enter a valid phone number</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>CNIC</mat-label>
              <input formControlName="etedCnic" maxlength="13" (keypress)="onlyNumbersAllowed($event)" name="etedCnic"
                matInput placeholder="CNIC">
              <mat-error *ngIf="personalDetailsForm.controls['etedCnic'].errors?.['required'] ">
                CNIC is <strong>required</strong></mat-error>
              <mat-error *ngIf="personalDetailsForm.controls['etedCnic'].errors?.['minlength'] ">
                Enter a valid CNIC</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label> Personal Email Address</mat-label>
              <input formControlName="etedEmailAddress" matInput name="etedEmailAddress"
                placeholder="Personal Email Address">
              <mat-error *ngIf="personalDetailsForm.controls['etedEmailAddress'].errors?.['required'] ">
                Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="personalDetailsForm.controls['etedEmailAddress'].errors?.['email'] ">
                Enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Professional Email Address</mat-label>
              <input matInput formControlName="etedOfficialEmailAddress" name="etedOfficialEmailAddress"
                placeholder="Professional Email Address">
              <mat-error *ngIf="personalDetailsForm.controls['etedEmailAddress'].errors?.['required'] ">
                Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="personalDetailsForm.controls['etedEmailAddress'].errors?.['email'] ">
                Enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field class=" col-lg-5 col-md-5 input">
              <mat-label>Address</mat-label>
              <textarea formControlName="etedAddress" name="etedAddress" matInput placeholder="Address"></textarea>
              <mat-error *ngIf="personalDetailsForm.controls['etedAddress'].errors?.['required'] ">
                Address is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Date of Birth</mat-label>
              <input readonly formControlName="etedDob" placeholder="Date of Birth" name="etedDob" matInput
                [matDatepicker]="dob">
              <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>
              <mat-error *ngIf="personalDetailsForm.controls['etedDob'].errors?.['required'] ">
                Date of Birth is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="etedGender" name="etedGender">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedGender'].errors?.['required'] ">
                Gender is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Marital Status</mat-label>
              <mat-select formControlName="etedMaritalStatus" name="etedMaritalStatus">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="single">Single</mat-option>
                <mat-option value="married">Married</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedContactNumber'].errors?.['required'] ">
                Marital Status is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Employment Status</mat-label>
              <mat-select formControlName="etedStatus" name="etedStatus">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="Active">Active</mat-option>
                <mat-option value="Inactive">Inactive</mat-option>
                <mat-option value="Probation">Probation</mat-option>
                <mat-option value="Released">Released</mat-option>
                <mat-option value="Resigned">Resigned</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedStatus'].errors?.['required'] ">
                Employment Status is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Blood Group</mat-label>
              <mat-select formControlName="etedBloodGroup" name="etedBloodGroup">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="A+">A+</mat-option>
                <mat-option value="A-">A-</mat-option>
                <mat-option value="B+">B+</mat-option>
                <mat-option value="B-">B-</mat-option>
                <mat-option value="O+">O+</mat-option>
                <mat-option value="O-">O-</mat-option>
                <mat-option value="AB+">AB+</mat-option>
                <mat-option value="AB-">AB-</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedBloodGroup'].errors?.['required'] ">
                Blood Group is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Religion</mat-label>
              <mat-select formControlName="etedReligion" name="etedReligion">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="muslim">Muslim</mat-option>
                <mat-option value="nonmuslim">Non-Muslim</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedReligion'].errors?.['required'] ">
                Religion is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field class="col-lg-5 col-md-5 input">
              <mat-label>Nationality</mat-label>
              <mat-select formControlName="etedNationality" name="etedNationality">
                <mat-option [value]="">-- select one --</mat-option>
                <mat-option value="afghan">Afghan</mat-option>
                <mat-option value="albanian"> Albanian</mat-option>
                <mat-option value="algerian">Algerian</mat-option>
                <mat-option value="american">American</mat-option>
                <mat-option value="andorran">Andorran</mat-option>
                <mat-option value="angolan">Angolan</mat-option>
                <mat-option value="antiguans">Antiguans</mat-option>
                <mat-option value="argentinean">Argentinean</mat-option>
                <mat-option value="armenian">Armenian</mat-option>
                <mat-option value="australian">Australian</mat-option>
                <mat-option value="austrian">Austrian</mat-option>
                <mat-option value="azerbaijani">Azerbaijani</mat-option>
                <mat-option value="bahamian">Bahamian</mat-option>
                <mat-option value="bahraini">Bahraini</mat-option>
                <mat-option value="bangladeshi">Bangladeshi</mat-option>
                <mat-option value="barbadian">Barbadian</mat-option>
                <mat-option value="barbudans">Barbudans</mat-option>
                <mat-option value="batswana">Batswana</mat-option>
                <mat-option value="belarusian">Belarusian</mat-option>
                <mat-option value="belgian">Belgian</mat-option>
                <mat-option value="belizean">Belizean</mat-option>
                <mat-option value="beninese">Beninese</mat-option>
                <mat-option value="bhutanese">Bhutanese</mat-option>
                <mat-option value="bolivian">Bolivian</mat-option>
                <mat-option value="bosnian">Bosnian</mat-option>
                <mat-option value="brazilian">Brazilian</mat-option>
                <mat-option value="british">British</mat-option>
                <mat-option value="bruneian">Bruneian</mat-option>
                <mat-option value="bulgarian">Bulgarian</mat-option>
                <mat-option value="burkinabe">Burkinabe</mat-option>
                <mat-option value="burmese">Burmese</mat-option>
                <mat-option value="burundian">Burundian</mat-option>
                <mat-option value="cambodian">Cambodian</mat-option>
                <mat-option value="cameroonian">Cameroonian</mat-option>
                <mat-option value="canadian">Canadian</mat-option>
                <mat-option value="cape verdean">Cape Verdean</mat-option>
                <mat-option value="central african">Central African</mat-option>
                <mat-option value="chadian">Chadian</mat-option>
                <mat-option value="chilean">Chilean</mat-option>
                <mat-option value="chinese">Chinese</mat-option>
                <mat-option value="colombian">Colombian</mat-option>
                <mat-option value="comoran">Comoran</mat-option>
                <mat-option value="congolese">Congolese</mat-option>
                <mat-option value="costa rican">Costa Rican</mat-option>
                <mat-option value="croatian">Croatian</mat-option>
                <mat-option value="cuban">Cuban</mat-option>
                <mat-option value="cypriot">Cypriot</mat-option>
                <mat-option value="czech">Czech</mat-option>
                <mat-option value="danish">Danish</mat-option>
                <mat-option value="djibouti">Djibouti</mat-option>
                <mat-option value="dominican">Dominican</mat-option>
                <mat-option value="dutch">Dutch</mat-option>
                <mat-option value="east timorese">East Timorese</mat-option>
                <mat-option value="ecuadorean">Ecuadorean</mat-option>
                <mat-option value="egyptian">Egyptian</mat-option>
                <mat-option value="emirian">Emirian</mat-option>
                <mat-option value="equatorial guinean">Equatorial Guinean</mat-option>
                <mat-option value="eritrean">Eritrean</mat-option>
                <mat-option value="estonian">Estonian</mat-option>
                <mat-option value="ethiopian">Ethiopian</mat-option>
                <mat-option value="fijian">Fijian</mat-option>
                <mat-option value="filipino">Filipino</mat-option>
                <mat-option value="finnish">Finnish</mat-option>
                <mat-option value="french">French</mat-option>
                <mat-option value="gabonese">Gabonese</mat-option>
                <mat-option value="gambian">Gambian</mat-option>
                <mat-option value="georgian">Georgian</mat-option>
                <mat-option value="german">German</mat-option>
                <mat-option value="ghanaian">Ghanaian</mat-option>
                <mat-option value="greek">Greek</mat-option>
                <mat-option value="grenadian">Grenadian</mat-option>
                <mat-option value="guatemalan">Guatemalan</mat-option>
                <mat-option value="guinea-bissauan">Guinea-Bissauan</mat-option>
                <mat-option value="guinean">Guinean</mat-option>
                <mat-option value="guyanese">Guyanese</mat-option>
                <mat-option value="haitian">Haitian</mat-option>
                <mat-option value="herzegovinian">Herzegovinian</mat-option>
                <mat-option value="honduran">Honduran</mat-option>
                <mat-option value="hungarian">Hungarian</mat-option>
                <mat-option value="icelander">Icelander</mat-option>
                <mat-option value="indian">Indian</mat-option>
                <mat-option value="indonesian">Indonesian</mat-option>
                <mat-option value="iranian">Iranian</mat-option>
                <mat-option value="iraqi">Iraqi</mat-option>
                <mat-option value="irish">Irish</mat-option>
                <mat-option value="israeli">Israeli</mat-option>
                <mat-option value="italian">Italian</mat-option>
                <mat-option value="ivorian">Ivorian</mat-option>
                <mat-option value="jamaican">Jamaican</mat-option>
                <mat-option value="japanese">Japanese</mat-option>
                <mat-option value="jordanian">Jordanian</mat-option>
                <mat-option value="kazakhstani">Kazakhstani</mat-option>
                <mat-option value="kenyan">Kenyan</mat-option>
                <mat-option value="kittian and nevisian">Kittian and Nevisian</mat-option>
                <mat-option value="kuwaiti">Kuwaiti</mat-option>
                <mat-option value="kyrgyz">Kyrgyz</mat-option>
                <mat-option value="laotian">Laotian</mat-option>
                <mat-option value="latvian">Latvian</mat-option>
                <mat-option value="lebanese">Lebanese</mat-option>
                <mat-option value="liberian">Liberian</mat-option>
                <mat-option value="libyan">Libyan</mat-option>
                <mat-option value="liechtensteiner">Liechtensteiner</mat-option>
                <mat-option value="lithuanian">Lithuanian</mat-option>
                <mat-option value="luxembourger">Luxembourger</mat-option>
                <mat-option value="macedonian">Macedonian</mat-option>
                <mat-option value="malagasy">Malagasy</mat-option>
                <mat-option value="malawian">Malawian</mat-option>
                <mat-option value="malaysian">Malaysian</mat-option>
                <mat-option value="maldivan">Maldivan</mat-option>
                <mat-option value="malian">Malian</mat-option>
                <mat-option value="maltese">Maltese</mat-option>
                <mat-option value="marshallese">Marshallese</mat-option>
                <mat-option value="mauritanian">Mauritanian</mat-option>
                <mat-option value="mauritian">Mauritian</mat-option>
                <mat-option value="mexican">Mexican</mat-option>
                <mat-option value="micronesian">Micronesian</mat-option>
                <mat-option value="moldovan">Moldovan</mat-option>
                <mat-option value="monacan">Monacan</mat-option>
                <mat-option value="mongolian">Mongolian</mat-option>
                <mat-option value="moroccan">Moroccan</mat-option>
                <mat-option value="mosotho">Mosotho</mat-option>
                <mat-option value="motswana">Motswana</mat-option>
                <mat-option value="mozambican">Mozambican</mat-option>
                <mat-option value="namibian">Namibian</mat-option>
                <mat-option value="nauruan">Nauruan</mat-option>
                <mat-option value="nepalese">Nepalese</mat-option>
                <mat-option value="new zealander">New Zealander</mat-option>
                <mat-option value="ni-vanuatu">Ni-Vanuatu</mat-option>
                <mat-option value="nicaraguan">Nicaraguan</mat-option>
                <mat-option value="nigerien">Nigerien</mat-option>
                <mat-option value="north korean">North Korean</mat-option>
                <mat-option value="northern irish">Northern Irish</mat-option>
                <mat-option value="norwegian">Norwegian</mat-option>
                <mat-option value="omani">Omani</mat-option>
                <mat-option value="pakistani">Pakistani</mat-option>
                <mat-option value="palauan">Palauan</mat-option>
                <mat-option value="panamanian">Panamanian</mat-option>
                <mat-option value="papua new guinean">Papua New Guinean</mat-option>
                <mat-option value="paraguayan">Paraguayan</mat-option>
                <mat-option value="peruvian">Peruvian</mat-option>
                <mat-option value="polish">Polish</mat-option>
                <mat-option value="portuguese">Portuguese</mat-option>
                <mat-option value="qatari">Qatari</mat-option>
                <mat-option value="romanian">Romanian</mat-option>
                <mat-option value="russian">Russian</mat-option>
                <mat-option value="rwandan">Rwandan</mat-option>
                <mat-option value="saint lucian">Saint Lucian</mat-option>
                <mat-option value="salvadoran">Salvadoran</mat-option>
                <mat-option value="samoan">Samoan</mat-option>
                <mat-option value="san marinese">San Marinese</mat-option>
                <mat-option value="sao tomean">Sao Tomean</mat-option>
                <mat-option value="saudi">Saudi</mat-option>
                <mat-option value="scottish">Scottish</mat-option>
                <mat-option value="senegalese">Senegalese</mat-option>
                <mat-option value="serbian">Serbian</mat-option>
                <mat-option value="seychellois">Seychellois</mat-option>
                <mat-option value="sierra leonean">Sierra Leonean</mat-option>
                <mat-option value="singaporean">Singaporean</mat-option>
                <mat-option value="slovakian">Slovakian</mat-option>
                <mat-option value="slovenian">Slovenian</mat-option>
                <mat-option value="solomon islander">Solomon Islander</mat-option>
                <mat-option value="somali">Somali</mat-option>
                <mat-option value="south african">South African</mat-option>
                <mat-option value="south korean">South Korean</mat-option>
                <mat-option value="spanish">Spanish</mat-option>
                <mat-option value="sri lankan">Sri Lankan</mat-option>
                <mat-option value="sudanese">Sudanese</mat-option>
                <mat-option value="surinamer">Surinamer</mat-option>
                <mat-option value="swazi">Swazi</mat-option>
                <mat-option value="swedish">Swedish</mat-option>
                <mat-option value="swiss">Swiss</mat-option>
                <mat-option value="syrian">Syrian</mat-option>
                <mat-option value="taiwanese">Taiwanese</mat-option>
                <mat-option value="tajik">Tajik</mat-option>
                <mat-option value="tanzanian">Tanzanian</mat-option>
                <mat-option value="thai">Thai</mat-option>
                <mat-option value="togolese">Togolese</mat-option>
                <mat-option value="tongan">Tongan</mat-option>
                <mat-option value="trinidadian or tobagonian">Trinidadian or Tobagonian</mat-option>
                <mat-option value="tunisian">Tunisian</mat-option>
                <mat-option value="turkish">Turkish</mat-option>
                <mat-option value="tuvaluan">Tuvaluan</mat-option>
                <mat-option value="ugandan">Ugandan</mat-option>
                <mat-option value="ukrainian">Ukrainian</mat-option>
                <mat-option value="uruguayan">Uruguayan</mat-option>
                <mat-option value="uzbekistani">Uzbekistani</mat-option>
                <mat-option value="venezuelan">Venezuelan</mat-option>
                <mat-option value="vietnamese">Vietnamese</mat-option>
                <mat-option value="welsh">Welsh</mat-option>
                <mat-option value="yemenite">Yemenite</mat-option>
                <mat-option value="zambian">Zambian</mat-option>
                <mat-option value="zimbabwean">Zimbabwean</mat-option>
              </mat-select>
              <mat-error *ngIf="personalDetailsForm.controls['etedNationality'].errors?.['required'] ">
                Nationality is <strong>required</strong></mat-error>
            </mat-form-field>
            <h4 class="mt-5">Emergency Contact Person</h4>
            <ng-container formArrayName="emsTblEmergencyContact"
              *ngFor="let item of personalDetailsForm.get('emsTblEmergencyContact')['controls']; let i = index;">
              <div class="form-group" [formGroupName]=i>
                <div class="form-group">
                  <mat-form-field style="display: none;" class="col-lg-5 col-md-5 input">
                    <mat-label>Emergency Contact Id</mat-label>
                    <input formControlName="etecEcId" name="etecEcId" matInput placeholder="Emergency Contact Id">

                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>First Name</mat-label>
                    <input formControlName="etecFirstName" name="etecFirstName" matInput placeholder="First Name">
                    <mat-error *ngIf="item.controls['etecFirstName'].errors?.['required']">
                      First Name is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="etecLastName" name="etecLastName" matInput placeholder="Last Name">
                    <mat-error *ngIf="item.controls['etecLastName'].errors?.['required']">
                      Last Name is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Relation with Employee</mat-label>
                    <mat-select formControlName="etecRelation" name="etecRelation">
                      <mat-option [value]="">-- select one --</mat-option>
                      <mat-option value="father">Father</mat-option>
                      <mat-option value="mother">Mother</mat-option>
                      <mat-option value="sister">Sister</mat-option>
                      <mat-option value="brother">Brother</mat-option>
                      <mat-option value="guardian">Guardian</mat-option>
                    </mat-select>
                    <mat-error *ngIf="item.controls['etecRelation'].errors?.['required']">
                      Relation with Employee is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Phone Number</mat-label>
                    <input formControlName="etecContactNumber" maxlength="11" name="etecContactNumber" matInput
                      placeholder="Phone Number">
                    <mat-error *ngIf="item.controls['etecContactNumber'].errors?.['required']">
                      Phone Number is <strong>required</strong></mat-error>
                    <mat-error *ngIf="item.controls['etecContactNumber'].errors?.['minlength']">
                      Enter a valid Phone number</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Address</mat-label>
                    <textarea formControlName="etecAddress" name="etecAddress" matInput
                      placeholder="Address"></textarea>
                    <mat-error *ngIf="item.controls['etecAddress'].errors?.['required']">
                      Address is <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>


            </ng-container>
            <div class="row mt-3">
              <div class="col-md-offset-2 col-lg-5 col-md-4">
                <button id="emergencyBtn" type="button" class="btn btn-primary" (click)="addEmergencyContact()">
                  Add Emergency Contact
                </button>
              </div>
              <div class=" col-lg-5 col-md-4">
                <button class="stepperBtn" mat-flat-button color="primary" matStepperNext>Next</button>
              </div>
            </div>
          </div>

        </mat-step>
        <mat-step label="Professional Details">
          <div class="container">
            <div class="form-group">
              <div formArrayName="emsTblEmployeeProfessionalDetails"
                *ngFor="let item of personalDetailsForm.get('emsTblEmployeeProfessionalDetails')['controls']; let i = index;">
                <div [formGroupName]="i">

                  <mat-form-field style="display: none;" class="col-lg-5 col-md-5 input">
                    <mat-label>Profesiional Details Id</mat-label>
                    <input formControlName="etepdPdId" name="etepdPdId" matInput placeholder="Professional Details Id">
                  </mat-form-field>
                  <!-- <mat-label>Designation</mat-label>
                    <input matInput placeholder="Designation" formControlName="etepdDesignation"
                      name="etepdDesignation"> -->
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Designation</mat-label>
                    <mat-select formControlName="etepdDesignation" name="etepdDesignation">
                      <mat-option [value]=""> ---Select One---</mat-option>
                      <mat-option value="HR manager">HR (Manager)</mat-option>
                      <mat-option value="HR officer">HR (Officer)</mat-option>
                      <mat-option value="Sr. Software Engineer">Sr. Software Engineer</mat-option>
                      <mat-option value="Jr. Software Engineer">Jr. Software Engineer</mat-option>
                      <mat-option value="SQA Engineer Intern">SQA Engineer Intern</mat-option>
                      <mat-option value="Sr. SQA Engineer">Sr. SQA Engineer</mat-option>
                      <mat-option value="Jr. SQA Engineer">Jr. SQA Engineer</mat-option>
                      <mat-option value="Project Manager">Project Manager</mat-option>
                      <mat-option value="System Administrator">System Administrator</mat-option>
                      <mat-option value="Database Developer">Database Developer</mat-option>
                      <mat-option value="Receptionist">Receptionist</mat-option>
                      <mat-option value="Accountant">Accountant</mat-option>
                      <mat-option value="Office Boy">Office Boy</mat-option>
                      <mat-option value="Guard">Guard</mat-option>
                    </mat-select>
                    <mat-error *ngIf="item.controls['etepdDesignation'].errors?.['required']">
                      Designation is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Salary</mat-label>
                    <input (keypress)="onlyNumbersAllowed($event)" formControlName="etepdSalary" name="etepdSalary"
                      matInput placeholder="Salary">
                    <mat-error *ngIf="item.controls['etepdSalary'].errors?.['required']">
                      Salary is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Joining Date</mat-label>
                    <input readonly matInput formControlName="etepdJoiningDate" name="etepdJoiningDate"
                      [matDatepicker]="picker" (dateChange)="getJoiningDate(i)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="item.controls['etepdJoiningDate'].errors?.['required']">
                      Joining Date is <strong>required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Probation Period</mat-label>
                    <input value="3" type="number" id="monthVal" matInput (keyup)="getJoiningDate(i)">
                  </mat-form-field>
                  <mat-form-field class="col-lg-5 col-md-5 input">
                    <mat-label>Probation</mat-label>
                    <input readonly id="probation" (keypress)="onlyNumbersAllowed($event)" [value]=probationDate
                      formControlName="etepdProbation" name="etepdProbation" matInput placeholder="Probation">
                    <mat-error *ngIf="item.controls['etepdProbation'].errors?.['required']">
                      Probation is <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class=" col-lg-5 col-md-4" style="margin-left: 40vh;">
                  <button class="stepperBtn " style="margin-left: 10px; float: right;" mat-flat-button color="primary"
                    matStepperPrevious>Back</button>
                  <button class="  stepperBtn " style="float: right;" mat-flat-button color="primary"
                    matStepperNext>Next</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step label="Academic Qualification">
          <div class=" mt-5 container" formArrayName="emsTblAcademicQualification"
            *ngFor="let item of personalDetailsForm.get('emsTblAcademicQualification')['controls']; let i = index;">
            <div class="form-group" [formGroupName]=i>
              <mat-form-field style="display: none;" class="col-lg-5 col-md-5 input">
                <mat-label>Academic Qualification Id</mat-label>
                <input formControlName="etaqAqId" name="etaqAqId" matInput placeholder="Academic QualificationId">
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Degree Title</mat-label>
                <mat-select formControlName="etaqQualification" name="etaqQualification">
                  <mat-option [value]=""> ---Select One---</mat-option>
                  <mat-option value="Matriculation/O-Levels">Matriculation/O-Levels</mat-option>
                  <mat-option value="Intermediate/A-Levels">Intermediate/A-Levels</mat-option>
                  <mat-option value="Bachelors">Bachelors</mat-option>
                  <mat-option value="BS Software Engineering">BS Software Engineering</mat-option>
                  <mat-option value="BS Computer Science">BS Computer Science</mat-option>
                  <mat-option value="Doctorate">BS Information Technology</mat-option>
                  <mat-option value="BS Business Administration">BS Business Administration</mat-option>
                  <mat-option value="Masters">Masters/MSc</mat-option>
                  <mat-option value="MS Software Engineering">MS Software Engineering</mat-option>
                  <mat-option value="MS Computer Science">MS Computer Science</mat-option>
                  <mat-option value="MS Information Technology">MS Information Technology</mat-option>
                  <mat-option value="MS Business Administration">MS Business Administration</mat-option>
                  <mat-option value="MS/Mphil">MS/Mphil</mat-option>
                  <mat-option value="Doctorate">Doctorate/PHD</mat-option>
                </mat-select>
                <mat-error *ngIf="item.controls['etaqQualification'].errors?.['required']">
                  Degree Title is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Passing Year</mat-label>
                <input formControlName="etaqPassingYear" maxlength="4" (keypress)="onlyNumbersAllowed($event)" matInput
                  placeholder="Passing Year" name="etaqPassingYear">
                <mat-error *ngIf="item.controls['etaqPassingYear'].errors?.['required']">
                  Passing Year is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Grade/CGPA</mat-label>
                <input type="number" min="0" value="0" step=0.00392156863 formControlName="etaqCgpa" matInput
                  placeholder="Grade/ " name="etaqCgpa">
                <mat-error *ngIf="item.controls['etaqCgpa'].errors?.['required']">
                  CGPA/Grade is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Institute Name</mat-label>
                <input formControlName="etaqInstituteName" matInput placeholder="Institute Name"
                  name="etaqInstituteName">
                <mat-error *ngIf="item.controls['etaqInstituteName'].errors?.['required']">
                  Institute Name is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>

          </div>
          <div *ngIf="academicQualification.length < 0">
            <mat-label class=" col-lg-6 col-md-6 ml-5">No Record Found.</mat-label>
          </div>
          <div class="row  mt-3">
            <div class="col-md-offset-2 col-lg-5 col-md-4">
              <button type="button" class="btn btn-primary" (click)="addAcademicQualification()">
                Add Academic Qualification
              </button>
            </div>
            <div class=" col-lg-5 col-md-4">
              <button class="stepperBtn " style="margin-right: 10px;" mat-flat-button color="primary"
                matStepperPrevious>Back</button>
              <button class="stepperBtn " mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Professional Qualification">
          <div formArrayName="emsTblProfessionalQualification"
            *ngFor="let item of personalDetailsForm.get('emsTblProfessionalQualification')['controls']; let i = index;">
            <div class="form-group" [formGroupName]=i>
              <mat-form-field style="display: none;" class="col-lg-5 col-md-5 input">
                <mat-label>Profesiional Qualification Id</mat-label>
                <input formControlName="etpqPqId" name="etpqPqId" matInput placeholder="Professional QualificationId">
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5input">
                <mat-label>Certification</mat-label>
                <input formControlName="etpqCertification" matInput placeholder="Certification"
                  name="etpqCertification">
                <mat-error *ngIf="item.controls['etpqCertification'].errors?.['required']">
                  Certification is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Start date</mat-label>
                <input readonly formControlName="etpqStratDate" name="etpqStratDate" matInput
                  [matDatepicker]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                <mat-error *ngIf="item.controls['etpqStratDate'].errors?.['required']">
                  Start Date is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>End date</mat-label>
                <input readonly formControlName="etpqEndDate" name="etpqEndDate" matInput [matDatepicker]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
                <mat-error *ngIf="item.controls['etpqEndDate'].errors?.['required']">
                  End Date is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Institute Name</mat-label>
                <input formControlName="etpqInstituteName" matInput placeholder="Institute Name"
                  name="etpqInstituteName">
                <mat-error *ngIf="item.controls['etpqInstituteName'].errors?.['required']">
                  Institute Name is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-offset-2 col-lg-5 col-md-4">
              <button type="button" class="btn btn-primary" (click)="addProfessionalQualification()">
                Add Professional Qualification
              </button>
            </div>
            <div class=" col-lg-5 col-md-4">
              <button class="stepperBtn " style="margin-right: 10px;" mat-flat-button color="primary"
                matStepperPrevious>Back</button>
              <button class="stepperBtn " mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Working History">
          <div formArrayName="emsTblWorkingHistory"
            *ngFor="let item of personalDetailsForm.get('emsTblWorkingHistory')['controls']; let i = index;">
            <div class="form-group" [formGroupName]=i>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <div></div>
                <mat-label>Company Name</mat-label>
                <input formControlName="etwhCompanyName" matInput name="etwhCompanyName" placeholder="Company Name">
                <mat-error *ngIf="item.controls['etwhCompanyName'].errors?.['required']">
                  Company Name is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Designation</mat-label>
                <input formControlName="etwhDesignation" type="text" matInput name="etwhDesignation"
                  placeholder="Designation">

                <mat-error *ngIf="item.controls['etwhDesignation'].errors?.['required']">
                  Designation is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Start date</mat-label>
                <input readonly formControlName="etwhStratDate" (dateChange)="compareDates(i)" matInput
                  [matDatepicker]="prevstartDate">
                <mat-datepicker-toggle matSuffix [for]="prevstartDate"></mat-datepicker-toggle>
                <mat-datepicker #prevstartDate></mat-datepicker>
                <mat-error *ngIf="item.controls['etwhStratDate'].errors?.['required']">
                  Start Date is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5input">
                <mat-label>End date</mat-label>
                <input readonly formControlName="etwhEndDate" (dateChange)="compareDates(i)" name="etwhEndDate" matInput
                  [matDatepicker]="prevendDate">
                <mat-datepicker-toggle matSuffix [for]="prevendDate"></mat-datepicker-toggle>
                <mat-datepicker #prevendDate></mat-datepicker>
                <mat-error *ngIf="item.controls['etwhEndDate'].errors?.['required']">
                  End Date is <strong>required</strong></mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-5 col-md-5 input">
                <mat-label>Duration</mat-label>
                <input readonly [value]="whDuration" ng-click="dayDiff(firstDate,secondDate)"
                  formControlName="etwhDuration" type="text" matInput name="etwhDuration" placeholder="Duration">
                <mat-error *ngIf="item.controls['etwhDuration'].errors?.['required']">
                  Duration is <strong>required</strong></mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row  mt-3">
            <div class="col-md-offset-2 col-lg-5 col-md-4">
              <button type="button" class="btn btn-primary" (click)="addWorkingHistory()">
                Add Work History
              </button>
            </div>
            <div class=" col-lg-5 col-md-4">
              <button class="stepperBtn " style="margin-right: 10px;" mat-flat-button color="primary"
                matStepperPrevious>Back</button>
            </div>
          </div>
        </mat-step>
      </form>
    </mat-vertical-stepper>
    <div class="text-align-right">
      <button routerLink="./employee" mat-raised-button color="warn">Cancel</button>
      <button style="margin-left: 10px;"  (click)="updateData()" mat-raised-button type="submit"
        color="primary">Save</button>
    </div>
  </div>
</div>
