<div class="container m-0 screenMaxWidth">
  <div class="row">
    <div class="mt-4 col-lg-6">
      <h3>Assets</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="ms-container row">

    <div (click)="getId($event)" class="card first-container" matRipple [matRippleCentered]="centered"
      [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
      [matRippleColor]="color">
      <img id="laptops" src="../../../../../assets/img/pexels-photo-7500056.jpeg" alt="Avatar"
        style="width: 100%; height: 180px;">
      <div class="container">
        <h5><b>Laptop </b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity: {{Quantity[0]}} Piece</b>
        </mat-label><br>
    
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost: {{Cost[0]}} PKR</b>
        </mat-label>

      </div>
    </div>

    <div id="screens" class="card second-container" (click)="getId($event)" matRipple [matRippleCentered]="centered"
      [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
      [matRippleColor]="color">
      <img id="screens" src="../../../../../assets/img/pexels-photo-326502.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="screens" class="container">
        <h5><b>Screens</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity: {{Quantity[1]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[1]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div (click)="getId($event)" class="card third-container" routerLink="/inventory/asset-reserve" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="drives" src="../../../../../assets/img/pexels-photo-1082327.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div class="container">
        <h5><b>Network Devices</b></h5>
        <div class="asset">
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[2]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[2]}} PKR</b>
        
        </mat-label>
      </div>

      </div>
    </div>
    <div (click)="getId($event)" class="card third-container " routerLink="/inventory/asset-reserve" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="cameras" src="../../../../../assets/img/pexels-photo-5966513.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div class="container">
        <h5><b>CCTV-Cameras</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[3]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[3]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div (click)="getId($event)" class="card first-container mt-3 mb-3" routerLink="/inventory/asset-reserve" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="ac" src="../../../../../assets/img/images.jpg" alt="Avatar" style="width:100%; height: 180px;">
      <div class="container">
        <h5><b>AC</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[4]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[4]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div id="printers" (click)="getId($event)" class="card second-container mt-3 mb-3"
      routerLink="/inventory/asset-reserve" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="printers" src="../../../../../assets/img/pexels-photo-7014415.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="printers" class="container">
        <h5><b>Printers</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[5]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[5]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div id="keyboard" (click)="getId($event)" class="card third-container mt-3 mb-3"
      routerLink="/inventory/asset-reserve" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="keyboard" src="../../../../../assets/img/pexels-photo-4065748.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="keyboard" class="container">
        <h5><b>Keyboard</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[6]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[6]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div id="mouse" (click)="getId($event)" class="card third-container mt-3 mb-3" routerLink="/inventory/asset-reserve"
      matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="mouse" src="../../../../../assets/img/pexels-photo-7430755.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="mouse" class="container">
        <h5><b>Mouse</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[7]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[7]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div id="power-cables" (click)="getId($event)" class="card first-container mt-3 mb-3"
      routerLink="/inventory/asset-reserve" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="power-cables" src="../../../../../assets/img/pexels-photo-4339335.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="power-cables" class="container">
        <h5><b>Power Cables</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[8]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost: {{Cost[8]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div id="stationery" (click)="getId($event)" class="card second-container mt-3 mb-3"
      routerLink="/inventory/asset-reserve" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
      [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="stationery" src="../../../../../assets/img/pexels-photo-7718712.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div id="stationery" class="container">
        <h5><b>Stationery</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[9]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost: {{Cost[9]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div (click)="getId($event)" class="card third-container mt-3 mb-3" routerLink="/inventory/asset-reserve" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="fans" src="../../../../../assets/img/images.png" alt="Avatar" style="width:100%; height: 180px;">
      <div class="container">
        <h5><b>Fans</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[10]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[10]}} PKR</b>
        </mat-label>

      </div>
    </div>
    <div (click)="getId($event)" class="card third-container mt-3 mb-3" routerLink="/inventory/asset-reserve" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
      <img id="furniture" src="../../../../../assets/img/pexels-photo-416320.jpeg" alt="Avatar"
        style="width:100%; height: 180px;">
      <div class="container">
        <h5><b>Furniture</b></h5>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Quantity:{{Quantity[11]}} Piece</b>
        </mat-label><br>
        <mat-label class="col-lg-6 col-md-6 ml-5"><b>Cost:{{Cost[11]}} PKR</b>
        </mat-label>

      </div>
    </div>

  </div>
</div>
