<div class="laptop-container container m-0 screenMaxWidth">
    <div class="row">
      <h3 class="mt-4"> Network Devices</h3>
      <form [formGroup]="drivesForm">
        <div class="container screenMaxWidth">
            <mat-form-field class="col-lg-6 col-md-6 input">
                <mat-label>Asset Name</mat-label>
                <input formControlName="itaAssetName" name="itaAssetName" matInput placeholder=""
                  maxlength="20">
                  <mat-error *ngIf="drivesForm.controls['itaAssetName'].errors?.['required'] ">
                    <strong>Required</strong></mat-error>
              </mat-form-field>
                <mat-form-field class="col-lg-6 col-md-6 input">
                    <mat-label>Quantity</mat-label>
                    <input formControlName="itaQuantity" name="itaQuantity" matInput placeholder=""
                      maxlength="20" (keypress)="onlyNumbersAllowed($event)">
                      <mat-error *ngIf="drivesForm.controls['itaQuantity'].errors?.['required'] ">
                        <strong>Required</strong></mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-lg-6 col-md-6 input">
                      <mat-label>Cost</mat-label>
                      <input formControlName="itaCost" name="itaCost" matInput placeholder=""
                        maxlength="20" (keypress)="onlyNumbersAllowed($event)">
                        <mat-error *ngIf="drivesForm.controls['itaCost'].errors?.['required'] ">
                          <strong>Required</strong></mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-lg-6 col-md-6 input">
                      <mat-label>Date of Purchasing</mat-label>
                       <input readonly formControlName="itaPurchaseDate" name="itaPurchaseDate" placeholder="Date of Purchasing" matInput [matDatepicker]="dob"
                        maxlength="20"> 
                        <mat-error *ngIf="drivesForm.controls['itaPurchaseDate'].errors?.['required'] ">
                          <strong>Required</strong></mat-error>
                      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                      <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>
                       
    </div>
          </form>
          <div class="text-align-right">
            <button class="setPositionRight5em" routerLink="" mat-raised-button color="warn" routerLink="../../inventory/unassigned-drives">Cancel</button>
            <button class="setPositionRight4em" [disabled]="drivesForm.invalid"
             mat-raised-button type="submit" color="primary" (click)="submitData()"
              >Save</button>
          </div>
      </div>
      </div>
