<mat-toolbar color="primary">
  <button routerLink="/home" mat-icon-button>
    <span class="example-spacer"></span>
    <mat-icon>arrow_back</mat-icon>
  </button>
    <button routerLink="/home" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    <span>HRMS</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
<div class="search">
  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="Filterdata($event)" placeholder="">
    
  </mat-form-field>
  
 
</div>
<div class="buttonassign" ><button width="30%" (click)="openDilog()"  type="button" class="btn btn-outline-primary">Apply Leave</button></div>
<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<div class="container m-0 screenMaxWidth">
  <div class="row">
    <div class="mt-4 col-lg-6">
      <h2 class="leaveh2">Leave</h2>
    </div>

  </div>
<div  class = "table1" class="full-width-div">
  <table mat-table  class="mat-elevation-z8" [dataSource]="employeeData">
    <ng-container matColumnDef="ID">
      <th width="10%"mat-header-cell *matHeaderCellDef>ID </th>
      <td width="10%" mat-cell *matCellDef="let employee"> {{employee.lmslrRecordId}} </td>
      <!-- <td width="10%" >1 </td> -->
    </ng-container>
    <ng-container matColumnDef="Name">
      <th width="10%" mat-header-cell *matHeaderCellDef>Name</th>
      <td width="10%" mat-cell *matCellDef="let employee"> {{employee.lmslrEtedEmployeeName}} </td>
    </ng-container>
    <ng-container matColumnDef="Designation">
     <th width="10%" mat-header-cell *matHeaderCellDef>Designation</th>
     <td width="10%" mat-cell *matCellDef="let employee"> {{employee.empDesignation}} </td>
    </ng-container>
    <ng-container matColumnDef="Sick">
      <th width="10%" mat-header-cell *matHeaderCellDef>Sick</th>
      <td  width="10%" mat-cell *matCellDef="let employee" ><b> {{employee.lmslrSickAssign}}</b>/{{employee.lmslrSickTaken}} </td>
    </ng-container>
    <ng-container matColumnDef="Casual">
      <th width="10%" mat-header-cell *matHeaderCellDef>Casual</th>
      <td width="10%" mat-cell *matCellDef="let employee"> <b> {{employee.lmslrCasualAssign}}</b>/{{employee.lmslrCasualTaken}}</td>
    </ng-container>
    <ng-container matColumnDef="Annual">
        <th width="10%" mat-header-cell *matHeaderCellDef>Annual </th>
        <td width="10%" mat-cell *matCellDef="let employee"> <b> {{employee.lmslrAnnualAssign}}</b>/{{employee.lmslrAnnualTaken}}</td>
      </ng-container>
      <ng-container matColumnDef="Total">
        <th width="10%" mat-header-cell *matHeaderCellDef>Total</th>
        <td width="10%" mat-cell *matCellDef="let employee"> <b> {{employee.lmslrTotalAssign}}</b>/{{employee.lmslrTotalTaken}}</td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th width="10%" mat-header-cell *matHeaderCellDef>Action</th>
        <td  width="10%"mat-cell *matCellDef="let dummydata">  
          <button  mat-icon-button  title="View Employee Record">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button  mat-icon-button  title="Edit Employee Record">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>
</div>