<div class="container m-0 screenMaxWidth">
    <div class="row">
      <div class="mt-4 col-lg-6">
        <h3>Not Assigned Network Devices</h3>
  
      </div>
      <div class="col-lg-6 text-align-right">
        <button routerLink="/inventory/drives" mat-raised-button color color="primary">Add Network Devices</button> <mat-form-field class="ml-20" appearance="standard">
          <mat-label>Search keyword</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
  
      </div>
    </div>
  
    <table mat-table [dataSource]="assetData" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="assetID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Asset ID</th>
        <td mat-cell *matCellDef="let asset"> {{asset.assetID}} </td>
      </ng-container>
      <ng-container matColumnDef="name"> 
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name/Model </th>
        <td mat-cell *matCellDef="let asset"> {{asset.assetname}} </td>
      </ng-container>
     
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
        <td mat-cell *matCellDef="let asset"> {{asset.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
        <td mat-cell *matCellDef="let asset"> {{asset.cost}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="assignedTo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned To</th>
        <td mat-cell *matCellDef="let employee"> {{employee.empDesignation}} </td>
      </ng-container> -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions </th>
        <td mat-cell *matCellDef="let employee">
          <button mat-icon-button [routerLink]="[ '../viewemp',employee.empID]" title="View Employee Record">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="[ '../editemployee',employee.empID]" title="Edit Employee Record">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" 
            title="Delete Employee Record">
            <mat-icon>delete_outlint</mat-icon>
          </button>
          <button mat-raised-button title="Delete Employee Record" color="primary">Assign</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr> -->
    </table>
    <mat-paginator class="mb-1" #employeeDataPage [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>
  

