.laptop-container {
    background: white;
    margin-top: 20vh;
    border-radius: 10px;
    margin-left: 80px;
    padding-bottom: 10vh;
  }
  .container{
      margin-left: 50px;
  }
  .sub-h{
    font-size: 16px;
    font-weight: 700;
  }
  .col-lg-6
{
  width: 49% !important;
}
.input{
    margin-right: 10px;
}

.setPositionRight5em
{
  right: 5em;
}