<div class="laptop-container container m-0 screenMaxWidth">
    <div class="row">
      <h3 class="mt-4"> Laptop </h3>
      <form [formGroup]="laptopForm">
        <div class="container screenMaxWidth">
            <mat-form-field class="col-lg-6 col-md-6 input">
              <mat-label>Asset ID</mat-label>
              <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                maxlength="20">
             
            </mat-form-field>
            <mat-form-field class="col-lg-6 col-md-6 input">
                <mat-label>Asset Name</mat-label>
                <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                  maxlength="20">
               
              </mat-form-field>
</div>
          </form>
      </div>
      </div>
