<div class="laptop-container container m-0 screenMaxWidth">
    <div class="row">
      <h3 class="mt-4"> Laptop </h3>
      <form [formGroup]="laptopForm">
        <div class="container screenMaxWidth">
            <mat-form-field class="col-lg-6 col-md-6 input">
                <mat-label>Name</mat-label>
                <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                  maxlength="20">
              </mat-form-field>
              <mat-form-field class="col-lg-6 col-md-6 input">
                <mat-label>Sr. no</mat-label>
                <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                  maxlength="20">
              </mat-form-field>
              <mat-form-field class="col-lg-6 col-md-6 input">
                  <mat-label>Company Name</mat-label>
                  <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                    maxlength="20">
                </mat-form-field>
                <mat-form-field class="col-lg-6 col-md-6 input">
                    <mat-label>Generation</mat-label>
                    <mat-select formControlName="etedGender" name="etedGender">
                      <mat-option [value]=""> ---Select One---</mat-option>
                      <mat-option value="female">1 Generation</mat-option>
                      <mat-option value="male">2 Generation</mat-option>
                      <mat-option value="female">3 Generation</mat-option>
                      <mat-option value="male">4 Generation</mat-option>
                      <mat-option value="female">5 Generation</mat-option>
                      <mat-option value="male">6 Generation</mat-option>
                      <mat-option value="female">7 Generation</mat-option>
                      <mat-option value="female">8 Generation</mat-option>
                      <mat-option value="male">9 Generation</mat-option>
                      <mat-option value="female">10 Generation</mat-option>
                      <mat-option value="male">11 Generation</mat-option>
                      <mat-option value="female">12 Generation</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-lg-6 col-md-6 input">
                      <mat-label>Processor</mat-label>
                      <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                        maxlength="20">
                    </mat-form-field>
                    <mat-form-field class="col-lg-6 col-md-6 input">
                        <mat-label>RAM</mat-label>
                        <mat-select formControlName="etedGender" name="etedGender">
                          <mat-option [value]=""> ---Select One---</mat-option>
                          <mat-option value="female">2 GB</mat-option>
                          <mat-option value="male">4 GB</mat-option>
                          <mat-option value="female">6 GB</mat-option>
                          <mat-option value="male">8 GB</mat-option>
                          <mat-option value="female">16 GB</mat-option>
                          <mat-option value="male">32 GB</mat-option>
                          <mat-option value="female">64 GB</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="col-lg-6 col-md-6 input">
                          <mat-label>Hard Type</mat-label>
                          <mat-select formControlName="etedGender" name="etedGender">
                            <mat-option [value]=""> ---Select One---</mat-option>
                            <mat-option value="female">SSD</mat-option>
                            <mat-option value="male">HDD</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-lg-6 col-md-6 input">
                          <mat-label>Hard Drive Storage</mat-label>
                          <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                            maxlength="20">
                        </mat-form-field>
                        <mat-form-field class="col-lg-6 col-md-6 input">
                            <mat-label>Quantity</mat-label>
                            <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                              maxlength="20">
                          </mat-form-field>
                          <mat-form-field class="col-lg-6 col-md-6 input">
                              <mat-label>Cost</mat-label>
                              <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                                maxlength="20">
                            </mat-form-field>
                            <mat-form-field class="col-lg-6 col-md-6 input">
                                <mat-label>Date of Purchasing</mat-label>
                                 <input readonly formControlName="etedFirstName" name="etedFirstName" placeholder="Date of Purchasing" matInput [matDatepicker]="dob"
                                  maxlength="20">
                                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                <mat-datepicker #dob></mat-datepicker>

                              </mat-form-field>
                              <mat-form-field class="col-lg-6 col-md-6 input">
                                  <mat-label>Assigned To</mat-label>
                                  <input formControlName="etedFirstName" name="etedFirstName" matInput placeholder=""
                                    maxlength="20">
                                </mat-form-field>
</div>
          </form>
          <div class="text-align-right">
            <button class="setPositionRight5em" routerLink="../assigned-laptops" mat-raised-button color="warn">Cancel</button>
            <button class="setPositionRight4em" [disabled]="laptopForm.invalid" mat-raised-button type="submit"
              color="primary">Save</button>
          </div>
      </div>
      </div>
