<div class="login-container container">
  <div class="row">
    <div class="col-lg-7">
      <div class="login-img">
        <img src="./../../../assets/img/login-img.png" alt="Login Image" width="500" height="600">
      </div>
    </div>
    <div class="col-lg-5">
      <form [formGroup]="loginservice.loginForm" class="login-form" novalidate (ngSubmit)="loginservice.loginUser()">
        <h1 class="login-h" color="primary">HRMS</h1>
        <mat-form-field class="login-full-width">
          <mat-label>Email Address</mat-label>
          <input formControlName='email' id="email" name="email" placeholder="Email Address" matInput>
            <mat-error *ngIf="loginservice.loginForm.controls['email'].errors?.['required'] ">
              Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="loginservice.loginForm.controls['email'].errors?.['email'] ">
                Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="login-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName='password' name="password" [type]="hide ? 'password' : 'text'"
            placeholder="Password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginservice.loginForm.controls['password'].errors?.['required'] ">
          Password is <strong>required</strong></mat-error>
           <mat-error *ngIf="loginservice.loginForm.controls['password'].errors?.['minlength'] ">
            Password should be 8 characters long</mat-error>
        </mat-form-field>
        <div class="row ">
          <div class="col-lg-6">
            <mat-checkbox class="remember-me" (click)="rememberMe()" color="primary">Remember me</mat-checkbox>
          </div>
          <div class="col-lg-6">
            <span class="forgot-pw">Forgot Password?</span>
          </div>
        </div>
        <div class="row mx-auto" style="justify-content: center;">
          <button mat-raised-button type="submit" class="login-btn" [disabled]="loginservice.loginForm.invalid" color="primary">Login</button>
        </div>
      </form>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
