<div class="add-employee-container container">
  <div class="row">
    <h3 class=" mt-4"> Employee {{firstName}}</h3>
    <mat-vertical-stepper>
      <form>
         <mat-step label="Personal Details">
          <div class="container">
            <h4>Personal Details</h4>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Employee ID:
                {{empID}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">First Name:
                {{firstName}}
              </mat-label>
            </div>

            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Last Name:
                {{lastname}}
               </mat-label> 
              <mat-label class=" col-lg-5 col-md-6">Phone Number:
                {{phoneNo}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Cnic:
                {{cnic}}
              </mat-label>
              <mat-label class=" col-lg-4 col-md-6">Personal Email Address:
                {{personalEmail}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-4 col-md-6 ml-5">Professional Email Address:
                {{professionalEmail}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Address:
                {{address}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Date of Birth:
                {{dob}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Gender:
                {{gender}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Marital Status:
                {{maritalStatus}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Employment Status:
                {{employementStatus}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Blood Group:
                {{bloodGroup}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Religion:
                {{religion}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Nationality:
                {{nationality}}
              </mat-label>
            </div>
            <h4 class="mt-5">Emergency Contact Person</h4>
            <div *ngFor="let item of emergencyContact; let i = index">
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">First Name:
                {{emergencyContact[i].etecFirstName}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Last Name:
                {{emergencyContact[i].etecLastName}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Relation:
                {{emergencyContact[i].etecRelation}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Phone Number:
                {{emergencyContact[i].etecContactNumber}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Address:
                {{emergencyContact[i].etecAddress}}
              </mat-label>
            </div>
            </div>
          </div>
        </mat-step>
        <mat-step label="Professional Details">
          <div class="container" *ngFor="let item of profDetails; let i = index">
            <h4>Professional Details</h4>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Designation:
                {{profDetails[i].etepdDesignation}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Salary:
                {{profDetails[i].etepdSalary}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Joining Date:
                {{profDetails[i].etepdJoiningDate}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Probation:
                {{profDetails[i].etepdProbation}}
              </mat-label>
            </div>
          </div>
        </mat-step>
        <mat-step label="Academic Qualification">
          <h4 class="mt-5">Academic Qualification</h4>
          <div class=" mt-5 container"  *ngFor="let item of academicQualification; let i = index">
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Degree Title:
                {{academicQualification[i].etaqQualification}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Passing Year:
                {{academicQualification[i].etaqPassingYear}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">CGPA:
                {{academicQualification[i].etaqCgpa}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Institue Name:
                {{academicQualification[i].etaqInstituteName}}
              </mat-label>
            </div>
          </div>
        </mat-step>
        <mat-step label="Professional Qualification">
          <p>Professional Qualification</p>
          <div class=" mt-5 container" *ngFor="let item of profQualification; let i = index">
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Certification:
                {{profQualification[i].etpqCertification}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Start Date:
                {{profQualification[i].etpqStratDate}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">End Date:
                {{profQualification[i].etpqEndDate}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Institue Name:
                {{profQualification[i].etpqInstituteName}}
              </mat-label>
            </div>
          </div>
        </mat-step>
        <mat-step label="Working History">
          <p>Working History</p>
          <div class=" mt-5 container" *ngFor="let item of workHistory; let i =  index">
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">Company:
                {{workHistory[i].etwhCompanyName}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Start Date:
                {{workHistory[i].etwhStratDate}}
              </mat-label>
            </div>
            <div class="row">
              <mat-label class=" col-lg-5 col-md-6 ml-5">End Date:
                {{workHistory[i].etwhEndDate}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Designation:
                {{workHistory[i].etwhDesignation}}
              </mat-label>
              <mat-label class=" col-lg-5 col-md-6">Duration:
                {{workHistory[i].etwhDuration}}
              </mat-label>
            </div>
          </div>
          <div class="col-lg-3">

          </div>
        </mat-step>
      </form>
    </mat-vertical-stepper>
  </div>
</div>
