<mat-toolbar color="primary">
  <button routerLink="/leave" mat-icon-button>
    <span class="example-spacer"></span>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button routerLink="/home" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>HRMS</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="details">
<h3 class=" mt-4"><b>Employee Leave Details</b>  </h3>
</div>
<div class="add-employee-container container m-0 screenMaxWidth">
  <div class="row">
    <h3 class=" mt-4">Employee Name : {{leaveempname}}</h3>

    <form>

    
        <div class="mt-3">

          <h3 class="col-lg-4 col-md-6 ">Employee Id :
            {{leaveempid}}
          </h3>
         
        </div>


      

    </form>

  </div>

</div>
<div class="table1" class="full-width-div mt-4 ">
  <table mat-table [dataSource]="leavetableData" class="mat-elevation-z8 " matsort>
    <ng-container matColumnDef="Leave Type">
      <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type </th>
      <td width="10%" mat-cell *matCellDef="let leave"> {{getLeaveTypeName(leave.lmselLeaveType)}} </td>
      <!-- <td width="10%" >1 </td> -->
    </ng-container>
    <ng-container matColumnDef="Leave Date">
      <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>Leave Date Range</th>
      <td width="10%" mat-cell *matCellDef="let leave"> {{leave.lmselStartDateStr}} to {{leave.lmselEndDate}}</td>
    </ng-container>
    <ng-container matColumnDef="Leave Days">
      <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>Leave Days</th>
      <td width="10%" mat-cell *matCellDef="let leave"> {{leave.lmselDays}} </td>
    </ng-container>
    <ng-container matColumnDef="Remarks">
      <th width="10%" mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
      <td width="10%" mat-cell *matCellDef="let leave">{{leave.reason}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

</div>
<!-- <table mat-table class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="LeaveType">
     
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
      <td mat-cell *matCellDef="let asset">  </td>
    </ng-container>
    <ng-container matColumnDef="leaveDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>leave Date</th>
      <td mat-cell *matCellDef="let asset"> </td>
    </ng-container>
    <ng-container matColumnDef="LeaveDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Days</th>
      <td mat-cell *matCellDef="let asset">  </td>
    </ng-container>
    <ng-container matColumnDef="Remarks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
      <td mat-cell *matCellDef="let asset">  </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    
  </table> -->
