.add-employee-container {
  background: white;
  margin-top: 20vh;
  border-radius: 10px;
  margin-left: 20px;
  padding-bottom: 10vh;
}

.input {
  margin-left: 10px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}
.sub-h{
  font-size: 16px;
  font-weight: 700;
}
.save-btn{
  width: 50%;
}
.remove-form{
  float: right;
}
.col-lg-6
{
  width: 49% !important;
}


.setPositionRight5em
{
  right: 5em;
}
.stepperBtn{
  float: right; padding-left: 15px; padding-right: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
