.add-employee-container {
  background: white;
  margin-top: 20vh;
  border-radius: 10px;
  margin-left: 20px;
  overflow: hidden;
  padding-bottom: 10vh;
}
.screenMaxWidth{
  max-width: 2560px;
}
.input {
  margin-left: 10px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}
.sub-h{
  font-size: 16px;
  font-weight: 700;
}
.save-btn{
  width: 50%;
}
.remove-form{
  float: right;
}
.col-lg-6
{
  width: 49% !important;
}
.text-align-right
{
  text-align: right;
}
.setPositionRight4em
{
  right: 4em;
}
.setPositionRight5em
{
  right: 5em;
}