.email{
    padding: 30px,20px;
    margin-top: 20px;
}
mat-form-field {
    display: block;
    margin-top: 40px;
    width:30%;
    margin: auto;

}

.formfield {
    width: 50%;
}
h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
