<mat-toolbar color="primary">
    <button routerLink="../home" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    <span>HRMS</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

<div class="leave">
    <h3>Leave Form</h3>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="write your name..">
    </mat-form-field>
    
     <mat-select>
        <option selected value="1">Sick</option>
        <option value="2">Casual</option>
        <option value="3">Annual</option>
      </mat-select>
     
        
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      

</div>