<!-- <mat-toolbar color="primary">
    <button routerLink="../home" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    <span>HRMS</span>
    <span class="example-spacer"></span>
  </mat-toolbar> -->

<div class="leave">
    <h3>Leave Form</h3>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    

      <mat-form-field appearance="outline">
        <mat-label >Leave Type</mat-label>
        <select matNativeControl required>
          <option selected value="Sick">Sick</option>
          <option value="Casual">Casual</option>
          <option value="Annual">Annual</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" >
          <input matEndDate placeholder="End date" >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Duration</mat-label>
        <input matInput placeholder=>
    </mat-form-field>
    <!-- <mat-form-field class="col-lg-5 col-md-5 input">
        <mat-label>Duration</mat-label>
        <input readonly [value]="lvDuration" ng-click="dayDiff(firstDate,secondDate)" matInput
          formControlName="etwhDuration" name="etwhDuration" placeholder="Duration">
        <mat-error *ngIf="item.controls['etwhDuration'].errors?.['required']">
          Duration is <strong>required</strong></mat-error>
      </mat-form-field> -->
    
        
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
      <div class="btnsubmit">
        <button mat-raised-button color color="primary">Submit</button>
        
</div>
</div>