    <h3>Leave Form</h3>
    <div [formGroup]="leaveform">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <!-- <input matInput placeholder="" formControlName="LmselEtedEmployeeId"> -->
        <mat-select formControlName="lmselEtedEmployeeId" name="lmselEtedEmployeeId">
          <mat-option *ngFor="let emp of this.employeeDdlData" [value]="emp.lmslrEtedEmployeeId">{{emp.lmslrEtedEmployeeName}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Leave Type</mat-label>
        <mat-select matNativeControl formControlName="lmselLeaveType" required>
          <mat-option selected value="2">Sick</mat-option>
          <mat-option value="3">Casual</mat-option>
          <mat-option value="1">Annual</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate name="lmselStartDate" formControlName="lmselStartDate" (dateChange)="compareDates($event)"
            placeholder="Start date" required>
          <input matEndDate name="lmselEndDate" formControlName="lmselEndDate" (dateChange)="compareDates($event)"
            placeholder="End date" required>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Duration <small>(Days)</small> </mat-label>
        <input matInput readonly placeholder="" formControlName="lmselDays">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Reason</mat-label>
        <textarea matInput placeholder="" formControlName="reason"></textarea>
      </mat-form-field>
    </div>
    <div class="btnsubmit">
      <button mat-raised-button color color="primary" [disabled]="leaveform.invalid" mat-raised-button type="submit"
        color="primary" (click)="submitData()">Save</button>

    </div>
