.email{
    padding: 30px,20px;
    margin-top: 20px;
}
mat-form-field {
    display: block;
    margin-top: 40px;
    margin: auto;
}

h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btnsubmit{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-left: 330px;
    color: blue;
}
.leave{
    width: auto;
    
}