<div class="container m-0 screenMaxWidth">
  <div class="row">
    <div class="mt-4 col-lg-6">
      <h3>Assets</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="ms-container row">
    <div class="card ems-container setPosition" routerLink="/inventory/assigned-{{urlId}}" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color" style="width: 25%; height: 252px;">
      <div class="container ">
        <p class="textAlign"><b>Assigned</b>
        <p>
      </div>
    </div>
    <div class="card rms-container setPosition" routerLink="/inventory/unassigned-{{urlId}}" matRipple
      [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color" style="width: 25%; height: 252px;">
      <div class="container">
        <p class="textAlign"><b>Not Assigned</b></p>
      </div>
    </div>
  </div>
